extends layout

block content
doctype html
html
  head
    style.
      body{
      background-image: url("/public/images/login-background.png");
      background-repeat: no-repeat;
      background-position: right;
      }
  .login-container
    form(method='POST', action='/auth/login')
      .form-group
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email', required='', autofocus='')
      .form-group.mt-3
        label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password', placeholder='Password', required='')
      a(href='#')
        p.text-center.mt-4 Forgot Password?
      button.btn.btn-block.login-btn.btn-success(type='submit') Login
  h2#login-title
    | Child Welfare Society of Kenya 
    br
    | Management Portal
  img#login-logo(src='/public/images/cwsk-logo.png', alt='')
  script.
