extend ../layout

block content
  .row 
    .col-md-12 
    .card
      .card-header
        h4.card-title  All Insurances
        a.text-right.btn.btn-fill.btn-primary(href='/insurance/create')
          i.tim-icons.icon-simple-add
          | Create Insurance
      .card-body
          .table-responsive-
          table.table.tablesorter(id='')
            thead.text-primary
              tr
                th
                  | Name
                th
                  | Cost
                th
                  | Details
                th.text-center
                  | Actions
            tbody
              each d in insurances
                tr 
                  td
                    =d.name
                  td
                    =d.cost
                  td
                    =d.details
                  td.text-center
                    a.p-1(href='/insurance/'+d.id title='View Insuarance')
                      i.fas.fa-eye
                    a.p-1(href='/insurance/edit/'+d.id title='Edit Insurance')
                      i.fas.fa-edit
                    a.p-1(href='#' title='Delete Insurance')
                      i.fas.fa-trash
