extend ../layout

block content
  .row 
    .col-md-12 
    .card
      .card-header
        h4.card-title  New Support
        
      .card-body
        form(method='post', action='/support/store')
          .row
            .col-md-4.pr-md-1
              .form-group
                label Name
                input.form-control(type='text' placeholder='Name' name="name")
            .col-md-4.px-md-1
              .form-group
                label Cost
                input.form-control(type='text' placeholder='Cost' name='cost' )
            .col-md-4.pl-md-1
              .form-group
                label(for='') Details
                input.form-control(type='text' placeholder='Details' name='details')
          .row 
            .col-md-6
              .form-group
                label Asset
                select.form-control(name='tps')
                  option(value)
                    | --select asset-- 
                  each a in assets
                    option(value=a.id)
                      =a.name
          .row 
            .col-md-12 
              button.form-control.btn.btn-fill.btn-primary(type='submit')
                | Create
