extend ../layout

block content
  .row 
    .col-md-12 
    .card
      .card-header
        h4.card-title  All Supports
        a.text-right.btn.btn-fill.btn-primary(href='/support/create')
          i.tim-icons.icon-simple-add
          | Create Support
      .card-body
          .table-responsive-
          table.table.tablesorter(id='')
            thead.text-primary
              tr
                th
                  | Name
                th
                  | Cost
                th
                  | Details
                th.text-center
                  | Actions
            tbody
              each s in support
                tr 
                  td
                    =s.name
                  td
                    =s.cost
                  td
                    =s.details
                  td.text-center
                    a.p-1(href='/support/'+s.id title='View Support')
                      i.fas.fa-eye
                    a.p-1(href='/support/update/'+s.id title='Edit Support')
                      i.fas.fa-edit
                    a.p-1(href='#' title='Delete Support')
                      i.fas.fa-trash
