extend ../layout

block content
  .row 
    .col-md-12 
    .card
      .card-header
        h4.card-title  New Disposal
        
      .card-body
        form(method='post', action='/disposal/store')
          .row
            .col-md-4.pr-md-1
              .form-group
                label Purpose
                input.form-control(type='text' placeholder='Company' name="purpose")
            .col-md-4.px-md-1
              .form-group
                label Details
                input.form-control(type='text' placeholder='Tag' name='details' )
            .col-md-4.pl-md-1
              .form-group
                label(for='') Price
                input.form-control(type='text' placeholder='Cost' name='price')
          .row
            .col-md-4.pr-md-1
              .form-group
                label Pic
                input.form-control(type='file' name='pic')
          .row 
            .col-md-6
              .form-group
                label Asset
                select.form-control(name='tps')
                  option(value)
                    | --select asset-- 
                  each a in assets
                    option(value=a.id)
                      =a.name
          .row 
            .col-md-12 
              button.form-control.btn.btn-fill.btn-primary(type='submit')
                | Submit
