extend ../layout

block content
  .row 
    .col-md-12 
    .card
      .card-header
        h4.card-title  All TPS
        a.text-right.btn.btn-fill.btn-primary(href='/tps/create')
          | Create TPS
      .card-body
          .table-responsive-
          table.table.tablesorter(id='')
            thead.text-primary
              tr
                th
                  | Name
                th
                  | Country
                th
                  | City
                th.text-center
                  | Salary
                th.text-center
                  | Actions
            tbody
              tr
                td
                  | Dakota Rice
                td
                  | Niger
                td
                  | Oud-Turnhout
                td.text-center
                  | $36,738
                td
                  
              
