extends ../layout
block content
  .row 
    .col-md-12 
    .card
      .card-header
        h4.card-title  All TPS
        a.text-right.btn.btn-fill.btn-primary(href='/tps/create')
          i.tim-icons.icon-simple-add
          |  Create TPS
      .card-body
          .table-responsive-
          table.table.tablesorter(id='')
            thead.text-primary
              tr
                th
                  | Name
                th
                  | Location
                th
                  | Address
                th
                  | Phone
                th.text-center
                  | Actions
            tbody
              each d in tps
                tr 
                  td
                    =d.name
                  td
                    =d.location
                  td
                    =d.address
                  td
                    =d.phone
                  td.text-center
                    a.p-1(href='/tps/'+d.id title='View TPS')
                      i.fas.fa-eye
                    a.p-1(href='/tps/edit/'+d.id title='Edit TPS')
                      i.fas.fa-edit
                    a.p-1(href='#' title='Delete TPS')
                      i.fas.fa-trash
                    
                    
              
