extend ../layout

block content
  .row 
    .col-md-12 
    .card.card-user
      .card-header
        h4.card-title  View TPS
        a.text-right.btn.btn-fill.btn-primary(href='/tps/create')
          i.fas.fa-eye.p-1 
          =tps.name
      .card-body
        .author
          p.description
            h3.title
              | Name: 
              =tps.name
          p.description
            | Location: 
            =tps.location
          p.description
            | Phone: 
            =tps.phone
          p.description
            | Address: 
            =tps.address
        .card-description
          =tps.description
