extend ../layout

block content
  .row 
    .col-md-12 
    .card
      .card-header
        h4.card-title  All Assets
        a.text-right.btn.btn-fill.btn-primary(href='/assets/create')
          i.tim-icons.icon-simple-add
          | Create Asset
      .card-body
          .table-responsive-
          table.table.tablesorter(id='')
            thead.text-primary
              tr
                th
                  | Name
                th
                  | Tag
                th
                  | Valuation
                th
                  | Insurance
                th
                  | Type 
                th
                  | Tps
                th.text-center
                  | Actions
            tbody
              each d in assets
                tr 
                  td
                    =d.name
                  td
                    =d.tag
                  td
                    =d.valuation
                  td
                    =d.insurance
                  td
                    if(d.typeId)
                      =d.type.name
                  td
                    if(d.tpsId)
                      =d.tp.name
                  td.text-center
                    a.p-1(href='/assets/'+d.id title='View Asset')
                      i.fas.fa-eye
                    a.p-1(href='/assets/edit/'+d.id title='Edit Asset')
                      i.fas.fa-edit
                    a.p-1(href='#' title='Delete Asset')
                      i.fas.fa-trash
              
