extends ../layout
block content
    .row
      .card.shadow
        .card-header.border-0
          .row
            .col-xl-4
              h3.mb-0 Types
            .col-xl-6.text-right
              a.btn.btn-primary(href="/type/create")
                |  Create Type
        .table-responsive-
          table.table.tablesorter(id='')
            thead.text-primary
              tr
                th(scope='col') Name
                th(scope='col') Actions
                th(scope='col')
            tbody
              each d in data
                tr
                  td.pb-2.pt-1(scope='col')
                    =d.name 
                  td
                    a.action(href='/type/edit/'+ d.id) 
                      i.fas.fa-edit
                    a.action(href='#' onclick="return confirm('are you sure you want to delete this type?')") 
                      i.fas.fa-trash
                    a.action(href='#' onclick="return confirm('are you sure you want to activate this type?')")
                      i.fas.fa-check-circle
              
